<header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Todo It, the app for todo extremists</h1>
                            <a routerLink="/register" class="btn btn-outline btn-xl page-scroll">Sign up, it's free!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    
                </div>
            </div>
        </div>
    </header>