<div class="col-md-4 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <!-- Login Form-->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div *ngIf="errors.length > 0">
            <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" *ngFor="let error of errors">
              {{ error }}
            </div>
          </div>

          <input id="email" name="email" type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
          <input id="password" name="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
          <div class="col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
            <button type="button" class="btn btn-default" (click)="login()">LOGIN</button>
          </div>
        </div>
      </div>
      <!-- end login form-->
    </div>
  </div>
</div>
