<div class="navbar navbar-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/landing" style="color: white; font-weight: 500">Todo It</a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="loginComponent.userIsLoggedIn() === false">
        <li><a routerLink="/register" style="color: white; font-weight: 500">Register</a></li>
        <li><a routerLink="/login" style="color: white; font-weight: 500">Login</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="loginComponent.userIsLoggedIn() === true">
        <li><a routerLink="/dashboard" style="color: white; font-weight: 500">DASHBOARD</a></li>
        <li>
        <div class="dropdown">
          <a class="btn btn-default dropdown-toggle" style="color: white;" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ this.getUser() }} &nbsp; <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a style="cursor: pointer;" (click)="loginComponent.logout()">Logout</a></li>
          </ul>
        </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
