<div class="navbar navbar-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Todo It</a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loginComponent.userIsLoggedIn() === true"><a routerLink="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Todo It</h1>
          <h3>Join the Todo revolution</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non tempor urna. Sed sit amet lacinia nibh, nec rutrum erat. Nunc laoreet venenatis nibh, vitae laoreet nisl sollicitudin eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vel suscipit velit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body"><!-- Need some logic here to either show login or register-->
          <h3>{{ loginComponent.title }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>