<div class="col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName">
                    <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName">
                    <input id="email" name="email" type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
                    <div class="col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
                        <button type="button" class="btn btn-default" (click)="register()">REGISTER</button>
                    </div>
                </div>
            </div>
        </div><!-- end panel body -->
    </div>
</div>
